### Whitespace is important

In [21]:
listOfNumbers = [1,2,3,4,5,6]

for number in listOfNumbers:
    print(number, end =" ")
    if(number % 2 == 0):
        print("is even")
    else:
        print("is odd")
print("All done")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
All done

### Importing modules

In [22]:
import numpy as np

In [23]:
A = np.random.normal(25.0,5.0,10)
print(A)

[22.73427909 21.50171495 26.93726638 14.83479063 23.04817107 23.06505313
 33.95269335 30.00968044 26.00465625 29.09731489]

## Data Structures

#### List

In [24]:
x = [1,2,3,4,5,6]
print(len(x))

6

In [25]:
x[:3]

[1, 2, 3]

In [26]:
x[3:]

[4, 5, 6]

In [27]:
x[-2:]

[5, 6]

In [28]:
x.extend([7,8])

In [29]:
x

[1, 2, 3, 4, 5, 6, 7, 8]

In [30]:
x.append(9)

In [31]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
y = [10,11,12]

In [33]:
listOflists = [x,y]

In [34]:
listOflists

[[1, 2, 3, 4, 5, 6, 7, 8, 9], [10, 11, 12]]

In [35]:
y[1]

11

In [36]:
z = [3,2,1]

In [37]:
z.sort()
z

[1, 2, 3]

In [39]:
z.sort(reverse=True)
z

[3, 2, 1]

#### Tuples

In [40]:
x = (1,2,3)

In [41]:
len(x)

3

In [42]:
y = (4,5,6)

In [43]:
y[2]

6

In [44]:
listOfTuples = [x,y]

In [45]:
listOfTuples

[(1, 2, 3), (4, 5, 6)]

In [46]:
(age,income) = "32,120000".split(",")

In [47]:
print(age)
print(income)

32
120000

#### Dictionaries

In [49]:
captians = {}

In [50]:
captians['Enterprise'] = 'Kirk'
captians['Enterprise D'] = 'Picard'
captians['Deep Space Nine'] = 'Sisko'
captians['Voyager'] = 'Jameway'

In [53]:
print(captians)

{'Enterprise': 'Kirk', 'Enterprise D': 'Picard', 'Deep Space Nine': 'Sisko', 'Voyager': 'Jameway'}

In [56]:
print(captians['Voyager'])

Jameway

In [57]:
print(captians['Enterprise'])

Kirk

In [59]:
print(captians.get('NX-01'))

None

In [65]:
for ship in captians:
    print(ship+": "+captians[ship])

Enterprise: Kirk
Enterprise D: Picard
Deep Space Nine: Sisko
Voyager: Jameway

#### Functions

In [66]:
def SquareIt(x):
    return x*x

print(SquareIt(2))

4

In [67]:
def DoSomething(f,x):
    return f(x)

In [68]:
print(DoSomething(SquareIt,3))

9

In [70]:
print(DoSomething(lambda x:x*x*x,3))

27

#### Boolean Expressions

In [72]:
print(1==3)

False

In [73]:
print(True or False)

True

In [74]:
if 1 is 3:
    print("How did that happen?")
elif 1 > 3:
    print("yikes!")
else:
    print("All is well with the world")

All is well with the world

#### Looping

In [76]:
for x in range(10):
    print(x, end=" ")

0 1 2 3 4 5 6 7 8 9

In [77]:
for x in range(10):
    if (x is 1):
        continue
    if (x > 5):
        break
    print(x,end=" ")

0 2 3 4 5

In [78]:
x = 0
while (x <10):
    print(x,end=" ")
    x += 1

0 1 2 3 4 5 6 7 8 9